<div>

  <img src="" alt="imagen-perfil" />
  <h1></h1>

</div>







<p>Poster: <img src={{movie.data.Poster}} /></p>
<p>Title: {{movie.data.Title}}</p>
<p>Year: {{movie.data.Year}}</p>
<p>Released: {{movie.data.Released}}</p>

<button id="want">Want</button>
<i id="tick" style="display: none">V</i>

<button id="watched">Watched</button>
<i id="tick" style="display: none">V</i>



{{!-- <a href='/movies/watch/{{movie.data.imdbID}}' />
Watched
</a>
 --}}

<p>Runtime: {{movie.data.Runtime}}</p>
<p>Genre: {{movie.data.Genre}}</p>
<p>Director: {{movie.data.Director}}</p>
<p>Actors: {{movie.data.Actors}}</p>
<p>Plot: {{movie.data.Plot}}</p>
<p>Language: {{movie.data.Language}}</p>
<p>Country: {{movie.data.Country}}</p>
<p>imdbRating: {{movie.data.imdbRating}}</p>
<p>imdbID: {{movie.data.imdbID}}</p>
<p>Website: {{movie.data.Website}}</p>


<script>

  document.querySelector('#want').onclick = function (event) {
    event.preventDefault()
    axios
      .post("/movies/want/{{movie.data.imdbID}}")
      .then(response => {
        if (response.data.movieAssociated) {
          document.querySelector("#tick").style.display = "block"
        }
      })

  }






document.querySelector('#watched').onclick = function (event) {
    event.preventDefault()
    axios
      .post("/movies/watched/{{movie.data.imdbID}}")
      .then(response => {
        if (response.data.movieAssociated) {
          document.querySelector("#tick").style.display = "block"
        }
      })

  }


</script>